
/gen/com/sadboy/wallpapers/R.java
/android/gen/com/sadboy/wallpapers/R.java
/min3d/sampleProjects/min3dSampleProject1/gen/min3d/sampleProject1/R.java
/android/gen
/android/bin
/min3d/sampleProjects/min3dSampleProject1/bin
/min3d/sampleProjects/min3dSampleProject1/gen